@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    @apply flex justify-center md:justify-between items-center  py-2
}

.navbar-head {
    @apply space-x-6 font-bold
}

.top-container {
    @apply bg-amber-300 text-white px-8 md:px-16 lg:px-24 
}

.button {
    @apply bg-black text-white hidden md:inline transform transition-transform
    duration-500 hover:scale-115 px-4 py-2 rounded
}
.top-container-1{
    @apply  mt-10 overflow-hidden px-8 md:px-16 lg:px-24
}
.proj-div {
    @apply px-6 pb-6 rounded-lg hover:shadow-lg transform transition-transform duration-500 hover:scale-110 cursor-pointer
}
.projectslide-img {
    @apply h-[100px] w-[200px] 
}
.prod-div{
    @apply mb-12
}
.serv-parent{
    @apply flex flex-col py-20  bg-gradient-to-b from-gray-50 to-gray-200 text-center mb-30
}